<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James Novak - Professional</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/app/assets/css/bootstrap.css">
    <!-- Custom styles -->
    <link href="/app/assets/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
    <script src="/app/assets/js/hover.zoom.js"></script>
    <script src="/app/assets/js/hover.zoom.conf.js"></script>
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">JAMES NOVAK</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Resume</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <img src="/app/assets/img/user.png" alt="Stanley">
          <h1>James Novak - Full Stack Developer</h1>
          <p>I work primarily in Ruby/Rails and JavaScript, with experience in AngularJS. Always learning. </p>
        </div><!-- /col-lg-8 -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /ww -->
  
  
  <!-- +++++ Projects Section +++++ -->
  
  <div class="container pt">
    <div class="row mt centered"> 
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port01.jpg" alt="" /></a>
        <p>APE</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port02.jpg" alt="" /></a>
        <p>RAIDERS</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port03.jpg" alt="" /></a>
        <p>VIKINGS</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered"> 
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port04.jpg" alt="" /></a>
        <p>YODA</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port05.jpg" alt="" /></a>
        <p>EMPERORS</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/app/assets/img/portfolio/port06.jpg" alt="" /></a>
        <p>CHIEFS</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
  
  
  <!-- +++++ Footer Section +++++ -->
  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Contact</h4>
          <p>
            Phone Number<br/>
            Email Address<br/>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>My Links</h4>
          <p>
            <a href="#">Github</a><br/>
            <a href="#">Linkedin</a><br/>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Site bootstrapped with Sinatra</h4>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </div>
    <script src="/app/assets/js/bootstrap.min.js"></script>
  </body>
</html>
